name: Wheels

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  PYTHON_VERSION: '3.12'

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install python test dependencies
        run: ./scripts/install-deps.sh
    
      - name: Run python guidance tests
        run: ./scripts/test-guidance.sh
    
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist

      - name: Upload sdist
        uses: actions/upload-artifact@v6
        with:
          name: wheels-sdist
          path: dist

  crates:
    name: Upload to crates.io
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    environment: pkg
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Run Rust tests
        run: ./scripts/test-guidance.sh --rust

      - name: Publish to crates.io
        run: ./scripts/ci-publish.py
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  linux:
    runs-on: ${{ matrix.platform.runner }}
    needs: [sdist]
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            arch: x86_64
            zig: true
          - runner: ubuntu-latest
            target: i686-unknown-linux-gnu
            arch: x86
            zig: true
          - runner: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            arch: aarch64
            zig: true
          - runner: ubuntu-latest
            target: riscv64gc-unknown-linux-gnu
            arch: riscv64
            zig: false
        python-version: ['3.12', '3.14t']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist ${{ matrix.python-version != '3.14t' && '--zig' || '' }}
          sccache: 'true'
          manylinux: 2_39
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-linux-${{ matrix.platform.arch }}-${{ matrix.python-version }}
          path: dist

  windows:
    runs-on: ${{ matrix.platform.runner }}
    needs: [sdist]
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
          - runner: windows-latest
            target: x86
        python-version: ['3.12', '3.14t']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.platform.target }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-windows-${{ matrix.platform.target }}-${{ matrix.python-version }}
          path: dist

  macos:
    runs-on: ${{ matrix.platform.runner }}
    needs: [sdist]
    strategy:
      matrix:
        platform:
          - runner: macos-14
            target: x86_64
          - runner: macos-14
            target: aarch64
        python-version: ['3.12', '3.14t']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-macos-${{ matrix.platform.target }}-${{ matrix.python-version }}
          path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    environment: pkg
    permissions:
        id-token: write
    needs: [linux, windows, macos, sdist]
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
